{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - 404 - Not found</title>
{% endblock %}

{% block content %}

    <div class="about-text">
        <h1>404 - Not found</h1>
        <p>Recipe not found!</p>
    </div>
    
{% endblock %}