{% extends "layout.njk" %}

{% block head %}

<title>Cursos</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

{% endblock %}

{% block content %}



<div class="wrapper">        
    <h1>Conteúdos</h1>        
</div>

<section class="cards link-card">
    {%for item in items%}
    <div class="card" id="{{item.id}}">
        <div class="card__image-container">
            <img src="{{item.img_url}}" alt="Logo do Curso {{item.title}}">
        </div>
        <div class="card__content">
            <p>{{item.title}}</p>
        </div>
        <div class="card__info">
            <p>{{item.duration}}</p>
            <p class="card__price">{{item.price}}</p>
        </div>
    </div>
    {%endfor%}

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <a class="max-modal">
            <i class="material-icons">maximize</i>
        </a>
        <div class="modal-content">
            <iframe src="https://app.rocketseat.com.br/starter" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="script.js"></script>

{% endblock %}
