{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

<div class="banner">
    <div class="text">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
    </div>
    <div class="chef">
        <img src="/assets/chef.png" alt="Chef">
    </div>
</div>
<div class="title">
    <h1>Mais acessadas</h1>
</div>
<div class="cards">
    {% for recipe in recipes %}
    <a href="/recipes/{{recipe.id}}">
    <div class="card" id="">
        <div class="card-img">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        </div>
        <div class="card-text">
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </div>
    </div> 
    </a>
    {% endfor %}   
</div>

<script src="/scripts.js"></script>

{% endblock %}