{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Cadastrar novo chef</title>
{% endblock %}

{% block content %}

<div class="form">

<form method="POST" action="/admin/chefs">

  {% include 'chefs/fields.njk' %}

  <div>
    <button type="submit" class="edit">Salvar chef</button>
  </div>

</form>

</div>

    
{% endblock %}