{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Editar</title>
{% endblock %}

{% block content %}

<div class="form">
    
    <form method="POST" action="/admin/chefs?_method=PUT">
    <div class="cards edit-header">
        <h1>Editando chef</h1>
        <div>
            <input type="hidden" name="id" value={{chef.id}}>
            <button type="submit" class="edit">Salvar chef</button>
        </div>
    </div>
    
        {% include 'chefs/fields.njk' %}
        
    </form>
    <form action="/admin/chefs?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{chef.id}}>
            <button type="submit" class="delete">Deletar</button>
    </form>
</div>

<script src="/scripts.js"></script>
    
{% endblock %}