{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Chef</title>    
{% endblock %}

{% block content %}

<div class="cards edit-header">
    <h1>Chef {{chef.name}}</h1>
    <a href="/admin/chefs/{{chef.id}}/edit" class="edit">Editar chef</a>
</div>
    
<div class="cards recipe">
    <div class="chef_avatar" id="">
        <div class="">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
        </div>           
    </div>
    <div class="card-text">
            <h1>{{chef.name}}</h1>            
        </div>  
        <div class="card-text">
            <h1>{{chef.total_recipes}} Receitas</h1>            
        </div>
    {% for recipe in recipes %}
    <div class="card-admin" id="">
        <div class="card-img-admin">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        </div>
        <div class="card-text">
            <h1>{{recipe.title}}</h1>            
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
    </div> 
    {% endfor %} 
</div>

<script src="/scripts.js"></script>

{% endblock %}}