{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Admin</title>
{% endblock %}

{% block content %}

    <div class="about-text">
        <h1>Admin</h1>
        <a href="/admin/recipes/create">Nova receita</a>

    </div>
    
{% endblock %}