{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    
<div class="cards">

    {% for item in items %}
    <div class="card" id="">
        <div class="card-img">
            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
        </div>
        <div class="card-text">
            <h1>{{item.title}}</h1>
            <p>{{item.author}}</p>
        </div>
    </div> 
    {% endfor %}   

</div>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-img" id="bg-img">
            <img src="/assets/asinhas.png" alt="">           
        </div>
        <div class="modal-text">
            <p class="modal-title"></p>
            <p class="author">por Vania Steroski</p>
            <p class="close-modal">Fechar modal</p>
        </div>           
    </div>
</div>


<script src="scripts.js"></script>

{% endblock %}}