{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    
<div class="cards">
    <div class="card" id="burger">
        <div class="card-img">
            <img src="/assets/burger.png" alt="Burger">
        </div>
        <div class="card-text">
            <h1>Triplo bacon burger</h1>
            <p>por Jorge Relato</p>
        </div>
    </div>
    <div class="card" id="pizza">
        <div class="card-img">
            <img src="/assets/pizza.png" alt="Pizza">
        </div>
        <div class="card-text">
            <h1>Pizza 4 estações</h1>
            <p>por Fabiana Melo</p>
        </div>
    </div>
    <div class="card" id="espaguete">
        <div class="card-img">
            <img src="/assets/espaguete.png" alt="Espaguete">
        </div>
        <div class="card-text">
            <h1>Espaguete ao alho</h1>
            <p>por Júlia Kinoto</p>
        </div>
    </div>
    <div class="card" id="lasanha">
        <div class="card-img">
            <img src="/assets/lasanha.png" alt="Lasanha">
        </div>
        <div class="card-text">
            <h1>Lasanha mac n’ cheese</h1>
            <p>por Juliano Vieira</p>
        </div>
    </div>
    <div class="card" id="doce">
        <div class="card-img">
            <img src="/assets/doce.png" alt="Doce">
        </div>
        <div class="card-text">
            <h1>Docinhos pão-do-céu</h1>
            <p>por Ricardo Golvea</p>
        </div>
    </div>
    <div class="card" id="asinhas">
        <div class="card-img">
            <img src="/assets/asinhas.png" alt="Asinhas">
        </div>
        <div class="card-text">
            <h1>Asinhas de frango ao barbecue</h1>
            <p>por Vania Steroski</p>
        </div>
    </div>
    <div class="card" id="burger">
        <div class="card-img">
            <img src="/assets/burger.png" alt="Burger">
        </div>
        <div class="card-text">
            <h1>Triplo bacon burger</h1>
            <p>por Jorge Relato</p>
        </div>
    </div>
    <div class="card" id="pizza">
        <div class="card-img">
            <img src="/assets/pizza.png" alt="Pizza">
        </div>
        <div class="card-text">
            <h1>Pizza 4 estações</h1>
            <p>por Fabiana Melo</p>
        </div>
    </div>
    <div class="card" id="espaguete">
        <div class="card-img">
            <img src="/assets/espaguete.png" alt="Espaguete">
        </div>
        <div class="card-text">
            <h1>Espaguete ao alho</h1>
            <p>por Júlia Kinoto</p>
        </div>
    </div>
    <div class="card" id="lasanha">
        <div class="card-img">
            <img src="/assets/lasanha.png" alt="Lasanha">
        </div>
        <div class="card-text">
            <h1>Lasanha mac n’ cheese</h1>
            <p>por Juliano Vieira</p>
        </div>
    </div>
    <div class="card" id="doce">
        <div class="card-img">
            <img src="/assets/doce.png" alt="Doce">
        </div>
        <div class="card-text">
            <h1>Docinhos pão-do-céu</h1>
            <p>por Ricardo Golvea</p>
        </div>
    </div>
    <div class="card" id="asinhas">
        <div class="card-img" id="asinhas.png">
            <img src="/assets/asinhas.png" alt="Asinhas">
        </div>
        <div class="card-text">
            <h1>Asinhas de frango ao barbecue</h1>
            <p>por Vania Steroski</p>
        </div>
    </div>
</div>

<div class="modal-overlay">
    <div class="modal">
        <div class="modal-img" id="bg-img">
            <img src="/assets/asinhas.png" alt="">           
        </div>
        <div class="modal-text">
            <p class="modal-title"></p>
            <p class="author">por Vania Steroski</p>
            <p class="close-modal">Fechar modal</p>
        </div>           
    </div>
</div>


<script src="scripts.js"></script>

{% endblock %}}