{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    
<div class="cards recipe">

    
    <div class="recipe-img" id="">
        <div class="">
            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
        </div>
        <div class="card-text">
            <h1>{{item.title}}</h1>
            <h2>por {{item.author}}</h2>
        </div>
        <div class="recipe-text">
            <h3>Ingredientes</h3>            
            <ul class="ingredients">
            {% for ingredient in item.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
            </ul>            
            <h3>Modo de preparo</h3>            
            <ul>
            {% for step in item.preparation %}
                <li>{{step}}</li>
            {% endfor %}
            </ul>   
            <h3>Informações adicionais</h3>            
            <p>{{item.information}}</p>           
        </div>
    </div> 
     

</div>

{% endblock %}}